/*COLORS:
Background: #95a5a5
Display: #34495e
Buttons Baackground: #ecf0f1
Button icons: #2d3e50
Equals icon: #e94c3d
background & button shadow: #7e8c8d
display shadow: #2d3e50

*/

* {
  /*    border: 2px solid black;*/
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;

  max-width: 35%;
  min-width: fit-content;
  max-height: 40%;
  min-height: fit-content;

  background-color: #95a5a5;
  border-radius: 3rem;
  margin: 5rem 0 5rem 0;

  box-shadow: 0 1.3rem #7e8c8d;
}

.history,
.display {
  min-height: 5rem;
  background-color: #34495e;
  display: flex;
  justify-content: right;
  align-items: center;

  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  color: #ecf0f1;
  font-weight: 600;
  padding: 1.5rem;
  text-shadow: 0.1rem 0.4rem #2d3e50;
}

.history {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 1rem 1rem 0 1rem;
  box-shadow: 0 1.3rem #2d3e50 inset;
  padding-bottom: 0;
}

.display {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 0 1rem 0 1rem;
  font-size: 2.5rem;
  padding-top: 0;
}
.buttons {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.numbers {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 1rem;
}

.operators {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.number,
.operator {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #ecf0f1;
  box-shadow: 0 0.5rem #7e8c8d;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  color: #2d3e50;
}

.number:hover,
.operator:hover {
  background-color: #dde1e2;
}

.number:active,
.operator:active {
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem #474c4d;
}

.equals {
  width: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: xx-large;
  font-weight: 900;
  color: #e94c3d;
}
